body{
  margin: 0px;
}
.top{
  background-color:#e4fbff;
  width:200px;
  height:200px;
  padding:20px;
  border-style: solid;
  border-width:10px;

}
.middle{
  background-color:blue;
  margin-left:260px;
  width:200px;
  height:200px;
  border-style: solid;
  border-width:20px;

}
.bottom{
  background-color:red;
  margin-left:500px;
  width:200px;
  height:200px;
  border-style: solid;
  border-width:10px;

}
h1{
  margin-block:0em;
}
