body {
  margin:0;
  text-align: center;
  background-color:#EAF6f6;
  font-family: 'Merienda', cursive,sans-serif;
}

.top-conntainer {
  position: relative;
  padding-top: 100px;
}

h1 {
  width:auto;
  margin:0 auto 0 auto;

}

.sof{
  background-color: yellow;
}
.top-cloud{
  position: absolute;
  right:400px;
  top:50px;

}
.bottom-cloud{
  position: absolute;
    bottom:300px;
    left: 450px;
}



.middle-conntainer {
  width:200px;
  height:200px;
  background-color: yellow;
}

.bottom-conntainer {
  width:200px;
  height:200px;
  background-color: red;
}
